.mainbody-section {
  width: 70%;
}

.slide {
  position: relative;
  width: 100%;
}

.slide img {
  width: 80%;
  object-fit: cover;
  height: 600px;
}

.textData {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 20px;
}

.btn-div {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.btn-div button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}

.btn-div button:hover {
  background-color: #0056b3;
}
