* {
  scroll-behavior: smooth;
}
.main-container {
  display: flex;
  position: relative;
  top: 100px;
}
.mainbody-section {
  width: 90%;
  margin-right: 2em;
}

.slide {
  position: relative;
  width: 100%;
}

.slide img {
  width: 80%;
  padding: 2em;
  object-fit: cover;
  height: 500px;
}

.textData {
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  width: 100%;
  padding: 20px;
}

.textData-div {
  display: flex;
  flex-direction: column;
  font-weight: 300;
  gap: 10px;
}

.textData-div > h1 {
  font-size: 25px;
  text-transform: uppercase;
}

.btn-div {
  display: flex;
  gap: 10px;
  align-self: center;
  margin-top: 10px;
}

.btn-div button {
  border-radius: 15px;
  transition: 0.5s ease-in-out;
}

.btn-div button:first-child {
  background-color: red;
  border: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}
.btn-div button:last-child {
  background-color: ghostwhite;
  border: none;
  color: #091833;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
}

.btn-div button:hover {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}
.mini-text-data {
  display: flex;
  margin: 0.7rem;
  padding: 1rem;
  gap: 5px;
}
.mini-text-data > h5 {
  font-weight: 200;
}

@media screen and (max-width: 1048px) {
  .slide img {
    height: 700px;
  }
  .main-container {
    flex-direction: column;
  }
  .mainbody-section {
    padding: 5px;
    width: 100%;
  }
  .textData {
    flex-direction: column;
    bottom: 10%;
  }
  .mini-text-data {
    align-self: center;
  }
  .side-body {
    display: none;
  }
}
