.fetchData-main > h1 {
  color: white;
  margin-top: 2rem;
  margin-left: 1rem;
}
.fetchData-section {
  margin-top: 2rem;
  display: flex;
  gap: 15px;
  overflow-x: auto;
}
.fetchData-section::-webkit-scrollbar {
  display: none;
}

.fetchData-div img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  padding: 1rem;
  border-radius: 35px;
}
.fetchData {
  width: 270px;
  margin-left: 0.9em;
  height: 55px;
  padding: 7px;
  background-color: black;
  border-radius: 10px;
  opacity: 0.4;
  margin-top: -25%;
}
.fetchData div {
  display: flex;
  flex-direction: column;
}
.fetchData div h1 {
  color: white;
  font-weight: 500;
  text-align: center;
  padding: 0.6rem;
}
.fetchData div h5 {
  color: white;
  font-weight: bolder;
  font-weight: 900;
}
