body {
  background: rgba(6, 14, 34, 255);
}
.FirstMovieBodyMain > h1,
p {
  text-align: center;
  color: white;
  margin-bottom: 1em;
}
.FirstMovieBodyMain > section {
  margin: 0 auto;
}
.FirstMovieBodyMain > section > ul {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
}
.FirstMovieBodyMain > section > ul > li {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  margin-right: 2em;
}
