.main-footer {
  display: flex;
  flex-direction: column;
  background-color: #0a1c3a;
  margin-top: 2rem;
  padding: 2rem 1rem 2rem 1rem;
}
.first-footer-section {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.first-footer-section > aside {
  padding: 1em;
}
.first-footer-section > aside > h1 {
  color: white;
  margin-bottom: 0.5rem;
}
.first-footer-section > aside > h1 > span {
  color: red;
}
.first-footer-section > aside > p {
  color: #5e6470;
  padding: 0.5rem 0 0.5rem 0;
}
.first-footer-section > aside > div {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  color: #5e6470;
}
@media screen and (max-width: 795px) {
  .first-footer-section {
    flex-wrap: wrap;
    justify-content: unset;
  }
}
