.signin-main {
  // width: 100%;
  padding: 60px 68px 40px;
  min-height: 660px;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.9;
  background-image: url("../assets/net.jpg") !important;
}
.logo > h1 {
  font-size: 40px;
  color: #fff;
}
.logo > h1 > span {
  color: rgb(224, 24, 24);
}
.signin-section {
  width: 40%;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 515px;
  padding: 20px 0 30px;
  position: relative;
  top: 2rem;
  border-radius: 15px;
  z-index: 10;
}

.signin-div {
  padding: 3rem 4rem 3rem 4rem;
}
.signin-div > h1 {
  color: white;
  color: #fff;
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 28px;
}
.email-phoneNumber {
  padding: 1.2rem 0 1.2rem 0;
}
.email-phoneNumber > input {
  width: 100%;
  border: none;
  border-radius: 4px;
  color: #fff;
  height: 50px;
  line-height: 50px;
  padding: 5px 15px 5px 15px;
  font-size: 15px;
  background: #333;
}
.password-div > input {
  width: 100%;
  border: none;
  border-radius: 4px;
  color: #fff;
  height: 50px;
  line-height: 50px;
  padding: 5px 15px 5px 15px;
  font-size: 15px;
  background: #333;
}
.Signin-form > button {
  width: 100%;
  padding: 16px;
  border: none;
  background: #e50914;
  margin-top: 3rem;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1.1px;
  margin: 24px 0 12px;
  color: #fff;
}
@media screen and (max-width: 778px) {
  .signin-section {
    width: 95%;
  }
}
